.ct-socials {
    position: fixed;
    top: 37%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    margin: 0;
    -webkit-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: none;
}
.ct-socials li {
    padding: 0px 0;
}
.ct-socials li a {
    background:transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
    height: 54px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    float: right;
    padding-left: 5px;
}

.white{
    font-size: 20px;
    color: rgb(230, 241, 255);
}


.ct-socials li a:hover {
    cursor: pointer;
    text-decoration: none;
}

.white:hover{
    color: rgb(100, 255, 218);
}

.ct-socials:after {
    content:"";
    border-left: 1px solid;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 240px;
    box-sizing: inherit;
}
